{% extends "base.html" %}

{% block page_title %}
    Create subtract points log
{% endblock %}

{% block content %}
    <h1>Create subtract points log for {{ classes.class_number }}{{ classes.class_letter }} class</h1>
    <form action="{{ class.id }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-item mt-3 mb-3">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Subtract points for {{ classes.class_number }}{{ classes.class_letter }} class</button>
    </form>
{% endblock %}