{% extends "base.html" %}

{% block page_title %}
    Edit class
{% endblock %}

{% block content %}
    <h1>Create subtract points log for {{ classes.class_number }}{{classes.class_letter }} class.</h1>
    <form action="/school/class/edit/{{ classes.id }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-item mt-3 mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Edit class</button>
                </form>
{% endblock %}