{% extends "base.html" %}
{% load static %}
{% block page_title %}
    Simon Konarski Gymnasium
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for class in classes %}
        <div class="card mb-3" style="width: 18rem; margin-right: 15px;">
            <div class="pt-3 d-block mx-auto" style="width: 250px; height: 250px;">
                {% if class.class_photo %}
                    <img src="{{ class.class_photo.url }}" class="card-img-top rounded" style="height: 100%; width: 100%; object-fit: cover; " alt="{{ class.class_number }}{{class.class_letter }} photo error.">
                {% else %}
                    <img src="{% static 'default.png' %}" class="card-img-top rounded" style="height: 100%; width: 100%; object-fit: cover;" alt="{{ class.class_number }}{{class.class_letter }} photo error3.">
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ class.class_number }}{{ class.class_letter | capfirst }}</h5>
                <p class="card-text">SOMETHING</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Class teacher: {{ class.class_teacher_name | title }} {{ class.class_teacher_surname | title }}</li>
                <li class="list-group-item">School level: {{ class.class_school_level }}</li>
                <li class="list-group-item">Points: {{ class.class_points }}</li>
            </ul>
            {% if user.is_authenticated %}
                <div class="card-body">
                    <a href="/school/class/edit/{{ class.id }}" class="btn btn-warning">Edit</a>
                    <a href="/school/class/delete/{{ class.id }}" class="btn btn-danger">Delete</a>
                    <a href="/school/points/add/log/create/{{ class.id }}" class="btn btn-success">+</a>
                    <a href="/school/points/subtract/log/create/{{ class.id }}" class="btn btn-danger">-</a>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}