{% extends "base.html" %}

{% block page_title %}
Scoreboard
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-header text-center mt-2">
                <b>Scoreboard</b>
            </div>
            <ul class="list-group list-group-flush">
                {% for class in classes %}
                    <li class="list-group-item"><span class="badge rounded-pill text-bg-warning">{{ forloop.counter }}. </span> <span class="badge text-bg-secondary">{{ class.class_number }}{{ class.class_letter }}</span> - <span class="badge text-bg-success">{{ class.class_points }}</span> points</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
