{% extends "base.html" %}

{% block page_title %}
    Delete tournament
{% endblock %}

{% block content %}
    <h1>Delete battle</h1>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete {{ tournamentbattle.battle_first_oponent.class_number }}{{ tournamentbattle.battle_first_oponent.class_letter }} VS {{ tournamentbattle.battle_second_oponent.class_number }}{{ tournamentbattle.battle_second_oponent.class_letter }} battle ?</p>
        <button class="btn btn-primary" type="submit">Delete battle</button>
    </form>
{% endblock %}